.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.hero-bg{
    background: url(images/Hero-bg.png) no-repeat center;
    background-size: cover;

}

.secondary-bg{
   color: rgba(78, 71, 255, 0.1);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 241px 30px 241px ;
    
}
.nav-title{
    font-weight: 800;
    font-size: 34px;
    color: #4E47FF;


}

header{
    width: auto;
    height: auto;

}

.btn-primary{
    background-color: #4E47FF  ;
    border: none;
    color: white;
    padding: 12px 36px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
}


.btn-primary:hover{
   background-color: white;
    color: #4E47FF;
    border: 4px solid #4E47FF;
    text-decoration: underline;
}

/* Banner Content */
.banner{
    display: flex;
    justify-content: center;
     margin: 0 267.5px 0 267.5px ;
     max-width: 1200px;
     width: 100%;
    margin: 0 auto;
    padding: 40px 20px;

    
}
.banner-content{
    margin-bottom: 180px;
    text-align: center;

    
    
}
.banner-title{
    font-size: 65px;
    font-weight: 800;
    color: #252432;
    line-height: 1.3;

}
main{
    max-width: 1140px;
    margin: 0 auto; 
}

/* Action */
.section-title{
    font-size: 42px;
    font-weight: 800;
    color: #252432 ;
}

.section-description{
    font-size: 24px;
    font-weight: 500;
    color: rgba(37, 36, 50, 0.5) ;

}

.action{
    display: flex;
    margin-top: 95px;
    justify-content: space-between;
}

.action-photo{
    border-radius: 48px;
    height: 328px;
    width: 403px;
}

/* Joined */
.joined{
    border-radius: 24px;
    margin-top: 116px;
    padding: 50px 142px;
    text-align: center;

}
.joined-title{
    font-size: 38px;
    font-weight: 800;
    color: #252432;
}

.bg-color{
    background-color: rgba(78, 71, 255, 0.1);

}

.joined-items{
    display: flex;
    justify-content: space-between;
}

.item-title{
    font-size: 80px;
    color: #4E47FF;
    font-weight: 800;
    margin-top: 0px;
}

.item-description{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: -80px;

}