.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.hero-bg{
    background: url(images/Hero-bg.png) no-repeat center;
    background-size: cover;

}

.bg-color-whole-body{
    background-color: rgba(78, 71, 255, 0.01);
}

.secondary-bg{
   color: rgba(78, 71, 255, 0.1);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 241px 30px 241px ;
    
}
.nav-title{
    font-weight: 800;
    font-size: 34px;
    color: #4E47FF;


}

header{
    width: auto;
    height: auto;

}

.btn-primary{
    background-color: #4E47FF  ;
    border: none;
    color: white;
    padding: 12px 36px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
}


.btn-primary:hover{
   background-color: white;
    color: #4E47FF;
    border: 4px solid #4E47FF;
    text-decoration: underline;
}

/* Banner Content */
.banner{
    display: flex;
    justify-content: center;
     margin: 0 267.5px 0 267.5px ;
     max-width: 1200px;
     width: 100%;
    margin: 0 auto;
    padding: 40px 20px;

    
}
.banner-content{
    margin-bottom: 180px;
    text-align: center;

    
    
}
.banner-title{
    font-size: 65px;
    font-weight: 800;
    color: #252432;
    line-height: 1.3;

}
main{
    max-width: 1140px;
    margin: 0 auto; 
}

/* Action */
.section-title{
    font-size: 42px;
    font-weight: 800;
    color: #252432 ;
}

.section-description{
    font-size: 24px;
    font-weight: 500;
    color: rgba(37, 36, 50, 0.5) ;

}

.action{
    display: flex;
    margin-top: 95px;
    justify-content: space-between;
}

.action-photo{
    border-radius: 48px;
    height: 328px;
    width: 403px;
}

/* Joined */
.joined{
    border-radius: 24px;
    margin-top: 116px;
    padding: 50px 142px;
    text-align: center;

}
.joined-title{
    font-size: 38px;
    font-weight: 800;
    color: #252432;
}

.bg-color{
    background-color: rgba(78, 71, 255, 0.1);

}

.joined-items{
    display: flex;
    justify-content: space-between;
}

.item-title{
    font-size: 80px;
    color: #4E47FF;
    font-weight: 800;
    margin-top: 0px;
}

.item-description{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin-top: -80px;

}

/* What our users say */
.card{
    border: 1px solid #F2EDED;
    border-radius: 14px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 24px;
}

.stars{
   display: flex; 
}

.card-title-1{
    font-size: 24px;
    font-weight: 600;
    color: #1E1E1E;
}

.card-description-1{
    font-size: 16px;
    color: #1E1E1E;

}

.avater-image{
    border-radius: 100%;
}

.card-title-2{
    font-size: 16px;
    color: #757575;
    font-weight: 600;
    margin-left: 20px;
}

.card-description-2{
    font-size: 16px;
    color: #B3B3B3 ;
    margin-left: 20px;
    margin-top: -10px;

}
.whole-bottom-container{
    display: flex;
    align-items: center;
    
}

.users-say{
    display: flex;
    justify-content: space-around;
    
}

.aling{
    text-align: center;
    margin-top: 137px;
}

/* Let’s Get in Touch Start */
.form{
    display: flex;
    justify-content: space-between;
    gap: 200px;
    margin-top: 137px;
}
.form-title{
    font-size: 97px;
    color: black;

}

.bg-color{
    background-color: rgba(78, 71, 255, 0.06);

}
input[type="text"]{
    height: 30px;
    width: 497px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px ;
    margin-bottom: 20px;
    padding: 20px 100px 20px 32px;
    
}

input[type="email"]{
     height: 30px;
    width: 497px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px ;
    margin-bottom: 20px;
    padding: 20px 100px 20px 32px;
}

textarea{
    height:70px;
    width: 497px;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    background-color: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px ;
    margin-bottom: 20px;
    padding: 20px 100px 20px 32px;
}

.btn-get-in{
    width: 640px;
    height: 62px;
}

.form-name{
    font-size: 18px;
    font-weight: 600;
    color: black;
}

/* Footer */
footer{
    background-color: white;
    margin-top: 85px;
    height: 428px;
    width: 1440pxx;
    dis
}
.nav-title-footer{
    font-size: 100px;
    font-weight: 800;
    color: #4E47FF;
    text-align: center;

}

.nav-footer{
    padding-top: 60px;
}

.footer-description{
    font-size: 16px;
    color: #8987A1;
    text-align: center;
    padding-left: 454px;
    padding-right: 455px;
    margin-top: -70px;
}

menu{
    margin-top: 20px;
   

}

ul{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-left: 700px;
    padding-right: 740px;
    list-style: none;
    text-decoration: none;
    
}

a{
    text-decoration: none;
    color: #8987A1;
    gap: 48px;

}
